* {
  margin: 0px;
  padding: 0px;
}
.LandingPagecontainer {
  width: 100%;
  min-height: 100vh;
  background: url("/pexels-pixabay-219692.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: white;
}
.LandingPagecontainer nav {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
}
.LandingPagecontainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
.LandingPagecontainer nav .navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.frame {
  width: 400px;
  height: 350px;
}
.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}
.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;
}
.landingMainContainer > div:nth-child(1) div[role="button"] {
  background: orange;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 20px;
  margin-top: 1rem;
  box-shadow: 10px 10px 10px yellow;
}
.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}
.landingMainContainer > div:nth-child(2) img {
  height: 70vh;
  width: auto;
}
